<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/favicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/all.min.css" rel="stylesheet">
  <link href="/static/aos.css" rel="stylesheet">
  <link href="/static/glightbox.min.css" rel="stylesheet">
  <link href="/static/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/main.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>WhatsApp Text Analyzer And Language Translation<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html" class="active">About</a></li>
          <li><a href="services.html">Service</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/18775705_6016119.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>About</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>About</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <h2>WhatsApp Text Analyzer and Language Translation</h2>
        <div class="row position-relative">

          <div class="col-lg-7 about-img" style="background-image: url(assets/img/about.jpg);"></div>
 
          <div class="col-lg-7">
            <div class="our-story">
              <h4>Overview</h4>
              <h3>Features</h3>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>This tool makes a better understanding of the personal usage of WhatsApp to the users. The tool identifies the behavior of the chat that is inappropriate text and warn them.</span></li>
                <li><i class="bi bi-check-circle"></i> <span> It displays the chat count, chat Average, Member/Sender Rank, Website /URL/Link Domain Rank, Word Count and Rank, Most Used Word by Sender, Emoji Usage Rank, Most Used Emoji by Sender, Timestamp Heatmap, Attachment Classification.</span></li>
                <li><i class="bi bi-check-circle"></i> <span>This tool can also analyze the abusive words and send that infomation copy to the mail given by you</span></li>
                <li><i class="bi bi-check-circle"></i> <span>This tool also has translator which can translate messages that the user can understand.</span></li>
              </ul>
  
              <div class="watch-video d-flex align-items-center position-relative">
                <h2>&#9759</h2><br>
                <a href="https://www.youtube.com/watch?v=iL_S0YMirhA" class="glightbox stretched-link">CLICK HERE FOR VIDEO</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Here are the testimonials from client</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/static/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <h1>&#9827</h1>
                    Your great work has resulted in tangible, beneficial results to us. You’re a force to be reckoned.
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/static/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <h1>&#9827</h1>
                    Great work on the recent project. Your brilliant problem-solving skills helped us to reach our targets much more quickly.
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/static/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <h1>&#9827</h1>
                    We are fortunate to be able to witness and work amongst an industry expert such as you.
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/static/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <h1>&#9827</h1>
                    Thank you for your tremendous help in our new project. Without your diligence, hard work, late nights, and early mornings we wouldn’t have been able to meet the deadline. Excellent work!
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/static/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <h1>&#9827</h1>
                    Be proud of the fact that you have the power to rise above any situation and deliver the best results no matter the circumstances. Excellent work!
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- End About Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>WhatsApp Text Analyzer And Language Translation</h3>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> wapenquiry@gmail.com<br>
              </p>
            </div>
          </div><!-- End footer info column-->
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>whatsApp Text Analyzer and Language Translation</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="" class="scroll-top d-flex align-items-center justify-content-center"><h2>&#8593</h2></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/bootstrap.bundle.min.js"></script>
  <script src="/static/aos.js"></script>
  <script src="/static/glightbox.min.js"></script>
  <script src="/static/isotope.pkgd.min.js"></script>
  <script src="/static/swiper-bundle.min.js"></script>
  <script src="/static/purecounter_vanilla.js"></script>
  <script src="/static/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/main.js"></script>

</body>

</html>